<div class="group-list-wrapper">
  <ul>
    <li>
      <div class="group-chat">
        <div class="image">
          <img src="../../assets/1.jpg">
        </div>
        <div class="info">
          <div class="title">
            <h4 class="title-text">
              Markus Markusson
            </h4>
            <p class="title-time">
              12:00
            </p>
          </div>
          <p class="last-message">
            Loram ipsun
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="group-chat">
        <div class="image">
          <img src="../../assets/1.jpg">
        </div>
        <div class="info">
          <div class="title">
            <h4 class="title-text">
              Markus Markusson
            </h4>
            <p class="title-time">
              12:00
            </p>
          </div>
          <p class="last-message">
            Loram ipsun
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
