// Colors
$darkest-blue: #16193B;
$darker-blue: #282e6a;
$dark-blue: #35478C;
$blue: #4669a6;
$light-blue: #7FB2F0;
$lighter-blue: #ADD5F7;
$white: #FFFFFF;
$grey: #494949;
$light-grey: #898989;
$lighter-grey: #c9c9c9;
$lightes-grey: #f4f4f4;
