// Units based on factor 4
$unit-base: 4px;
$unit-2: $unit-base * 2;
$unit-3: $unit-base * 3;
$unit-4: $unit-base * 4;
$unit-5: $unit-base * 5;
$unit-6: $unit-base * 6;
$unit-7: $unit-base * 7;
$unit-8: $unit-base * 8;
$unit-9: $unit-base * 9;
$unit-10: $unit-base * 10;
